html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.imagebg {
  background-image: url("../images/mixing-desk-351478_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;

}

label {
  color: #444444;
}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=text]:focus,
select:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}


input[type=submit] {
  border-radius: 40px;
  background-color: #47a1d7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  min-width: 130px;
  font-size: 14px;
  font-weight: 900;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
}

/* Add a background color and some padding around the form */
.container {
  padding: 20px;
}

button {
  border-radius: 40px;
  background-color: #47a1d7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  min-width: 130px;
  font-size: 14px;
  font-weight: 900;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
}

button:hover {
  background-color: #4FB6F9;
}